@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');



* {
    box-sizing: border-box;
  }
 

  html {
    font-size: 1em;
    font-family: 'Alike';
    background-color: #262626;
    color: #d9d9d9;
  }
  body {
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto';
    line-height: 1.313em;
  }
  h1 {
    font-size: 3em;
    margin: 0.563em 0;
  }
  h2 {
    font-size: 2.25em;
    margin: 0.625em 0;
    text-align: center;
    font-family: 'Montserrat', 'open-sans';
  }
  h3 {
    font-size: 1.5em;
    margin: 1.313em 0;
    text-align: center;
    font-family: 'Montserrat', 'open-sans';
    color: #ffffff;
  }
  h4 {
    font-size: 1.313em;
    margin: 1.313em 0;
  }
  h5 {
    font-size: 1.125em;
    margin: 1.313em 0;
  }
  h6 {
    font-size: 1em;
    margin: 0.75em 0;
  }

  p {
    font-size: 1em;
    margin: 0.75em 0;
    text-align: center;
    font-family: 'Montserrat', 'open-sans';
    color: #ffffff;


  }


  .content {
    font-size: 1.875rem;
    color: #262626;
    background-size: 49% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }


  .right {
    padding: 1.618em 6.472em 3.236em 50%;
    background-position: 0 50%;
  }

  .left {
    padding: 1.618em 50% 3.236em 6.472em;
    background-position: 100% 50%;
  }
  illustration_01 {
     width: 100%;
     height: 100px;
    background-image: url('./img/Saly-19.png');
    } 
  .illustration_02 {
    background-color: #25E3FD;
    background-image: url('./img/mediano.jpg');
    } 

    .separator {
        font-size: 1.875rem;
        padding: 1.618em 0;
        text-align: center;
      }

      .illustration_03 {
        background-color: #21C4F8;
        background-image: url('./img/Saly.png');
      }
      .illustration_04 {
        background-color: #4992E9;        
        background-image: url('./img/Saly-31.png');
      }

      .boton {
        border: 1px solid #2e518b; /*anchura, estilo y color borde*/
        padding: 10px; /*espacio alrededor texto*/
        background-color: #2e518b; /*color botón*/
        color: #ffffff; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: 'Montserrat', sans-serif; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        font-weight: bold;

        }

        .marquee {
          height: 50px;
          overflow: hidden;
          position: relative;
          background: #fefefe;
          color: #333;
          border: 1px solid #4a4a4a;

      }
      
      .marquee p {
          position: absolute;
          width: 100%;
          height: 100%;
          margin: 0;
          line-height: 50px;
          text-align: center;
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          -moz-animation: scroll-left 2s linear infinite;
          -webkit-animation: scroll-left 2s linear infinite;
          animation: scroll-left 20s linear infinite;
      }
      
      @-moz-keyframes scroll-left {
          0% {
              -moz-transform: translateX(100%);
          }
          100% {
              -moz-transform: translateX(-100%);
          }
      }
      
      @-webkit-keyframes scroll-left {
          0% {
              -webkit-transform: translateX(100%);
          }
          100% {
              -webkit-transform: translateX(-100%);
          }
      }
      
      @keyframes scroll-left {
          0% {
              -moz-transform: translateX(100%);
              -webkit-transform: translateX(100%);
              transform: translateX(100%);
          }
          100% {
              -moz-transform: translateX(-100%);
              -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
          }
      }

      .div2{ 
        padding: 20px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
         color: #FFFFFF;
         font-size: 30px;
    }

    .button2 {
       border: 1px solid #2e518b;
        padding: 10px;
        background-color: #2e518b;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        border-radius: 50px;
       color: #FFFFFF;
       font-size: 15px;
       font-weight: bold;
    } 


.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #3B5998;
}
.icon-instagram {
	background: #C13584;
}
.icon-twitter {
	background: #339DC5;
}


.icon-linkedin {
	background: #0077B5;
}
.icon-youtube {
	background: #E83028;
}
.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
    /*body{
      font-family: 'Bebas Neue', cursive;
      background-image: url('./img/pequeño.jpg');
    }*/
    